[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
mjpeg-streamer = "*"
torchaudio = "*"
ultralytics = "*"
numpy = "*"
pillow = "*"
opencv-python = "*"
pysqlite3 = "*"
torchvision = {file = "https://github.com/ultralytics/assets/releases/download/v0.0.0/torchvision-0.17.2+c1d70fe-cp38-cp38-linux_aarch64.whl"}
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.17"
